p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
div {
  text-align: justify;
  text-justify: inter-word;
}
div.objectives {
  margin: 2em 1em 2em 0;
  padding: 15px 20px;
  background: #fafafa;
}
div.writing {
  margin: 2em 1em 2em 0;
  padding: 15px 20px;
  background: #fefbd8;
}
